[Desktop Entry]
Name=Install Calypso Linux
GenericName=Calypso Linux Installer
Comment=Install Calypso Linux using Calamares
Exec=calypso-calamares
Icon=calypso-linux
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=Calypso;Linux;Install;Calamares;Plasma;Hyprland;
