[Desktop Entry]
Name=Install Calypso Linux
GenericName=Calypso Linux Installer
Comment=Install Calypso Linux with KDE Plasma or Aurora Hyprland
Exec=calypso-installer
Icon=calypso-linux
Terminal=true
Type=Application
Categories=System;Settings;
Keywords=Calypso;Linux;Install;Plasma;Hyprland;
