[Desktop Entry]
Type=Application
Name=Calypso Plasma Wallpaper
Comment=Apply the Calypso Linux default wallpaper
Exec=plasma-apply-wallpaperimage %h/.local/share/calypso/wallpapers/Calypso-Default.svg
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
