[Desktop Entry]
Type=Application
Name=Calypso Plasma Wallpaper
Comment=Apply the Calypso Linux default wallpaper
Exec=calypso-apply-wallpaper
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
