insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ntfs
insmod ntfscomp
insmod exfat
insmod udf

if loadfont "${prefix}/fonts/unicode.pf2"; then
    insmod all_video
    insmod gfxmenu
    insmod png
    set gfxmode="auto"
    terminal_input console
    terminal_output console
    set color_normal=light-gray/black
    set color_highlight=white/green
fi

default=calypso
timeout=7
timeout_style=menu

menuentry "Start Calypso Linux" --class calypso --class gnu-linux --class gnu --class os --id 'calypso' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "Start Calypso Linux (Accessibility)" --class calypso --class gnu-linux --class gnu --class os --id 'calypso-accessibility' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'Reboot' --class reboot {
    reboot
}

menuentry 'Power Off' --class shutdown {
    halt
}
